@import url(./__blur/slider__blur.css);
@import url(./__button/slider__button.css);
@import url(./__dots/slider__dots.css);

.slider {
    background: #f5f6f7;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0 0 60px 0;
}
