@import url(./__blur/slider__blur.css);
@import url(./_is-hidden/slider_is-hidden.css);

div.slider {
    background: #f5f6f7;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0 0 60px 0;
}

.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}

div.swiper-button-prev {
    left: 32px;
    top: 40%;
}

div.swiper-button-next {
    right: 32px;
    top: 40%;
}

span.swiper-pagination-bullet-active {
    background: #1a1b22;
}

@media screen and (max-width: 1024px) {
    div.swiper-button-prev, div.swiper-button-next {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    div.slider {
        padding: 0 0 60px 16px;
    }
}