@import url(./_theme_blue/button_theme_blue.css);
@import url(./_theme_white/button_theme_white.css);
@import url(./_theme_transparent/button_theme_transparent.css);

.button {
    box-shadow: none;
    height: 64px;
    border-radius: 32px;
    border: none;
    transition: all .2s;
    display: block;
    cursor: pointer;
}

.button:focus {
    border: 2px solid #ac0101;
    outline: none;
}

.button:disabled {
    background: #bbb;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .button {
        height: 56px;
        border-radius: 28px;
    }
}