@import url(./_active/nav__link_active.css);
@import url(./_theme_black/nav__link_theme_black.css);

.nav__link {
    color: #b6bcbf;
    font-size: 18px;
    text-decoration: none;
    padding: 30px 0 23px 0;
    display: block;
}

.nav__link:focus {
    outline: none;
    border-bottom: 3px solid #ac0101;
}