@import url(./__title/tech-elem__title.css);
@import url(./__pic/tech-elem__pic.css);

.tech-elem {
    text-align: center;
    max-width: 120px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}