@import url(./__cards/found__cards.css);

.found {
    background: #f5f6f7;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #1a1b22;
    padding: 80px 104px;
}

@media screen and (max-width: 1024px) {
    .found {
        padding: 40px 40px;
    }
}