.about-author__avatar {
    display: block;
    border-radius: 50%;
    max-width: 464px;
    align-self: center;
    margin: 0 56px 0 0;
}

@media screen and (max-width: 1024px) {
    .about-author__avatar {
        max-width: 232px;
        margin: 0 32px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .about-author__avatar {
        max-width: 336px;
        width: 100%;
        margin: 0 auto;
    }
}