.page-title.page-title_size_lg {
    font-size: 60px;
    line-height: 64px;
}

@media screen and (max-width: 1024px) {
    .page-title.page-title_size_lg {
        font-size: 36px;
        line-height: 40px;
        max-width: 380px;
    }
}