.button.button_theme_white {
    margin: 0 auto;
    background: #fff;
    color: #1a1b22;
    width: 288px;
}

.button_theme_white:hover {
    background: #dddcdc;
}

.button_theme_white:active {
    background: #b6b6b6;
}

@media screen and (max-width: 1024px) {
    .button.button_theme_white {
        width: 240px;
    }
}

@media screen and (max-width: 480px) {
    .button.button_theme_white {
        width: 100%;
        max-width: 336px;
    }
}