@import url(./_type_desktop/section-header__link_type_desktop.css);

.section-header__link {
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
    text-decoration: none;
    transition: all .2s;
}

.section-header__link::after {
    content: " >";
}

.section-header__link:hover {
    opacity: .5;
}

.section-header__link:focus {
    outline: 1px dotted #ac0101;
}

@media screen and (max-width: 767px) {
    .section-header__link {
        margin: 16px 0 0 0;
    }   
}
