.preloader__message {
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    font-weight: 400;
    position: absolute;
    top: 192px;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 1024px) {
    .preloader__message {
        top: 140px;
    }
}