.tech__elem-box {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-gap: 40px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .tech__elem-box {
        grid-gap: 60px;
        margin: 40px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .tech__elem-box {
        grid-gap: 32px;
        grid-template-columns: repeat(2, 120px);
    }   
}