@import url(./__logo/header__logo.css);

.header {
    padding: 0 104px;
    border-bottom: 1px solid rgba(196, 196, 196, .3);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}